@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat Alternates", sans-serif;
}
.nav-menu{
    background-color: #222222;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
}
.logo, .menu-item{
    margin: 20px;
}
.logo:hover, .menu-item:hover, .socials-img:hover{
    animation: shake 1s linear 0s 1;
}
.socials{
    background-color: #222222;
    display: flex;
    flex-direction: column;
    width: fit-content;
    z-index: 1000;
    position: fixed;
    right: 0;
    bottom: 0;
}
.socials-img{
    margin: 10px;
}
@keyframes shake{
    0%{
        transform:rotate(0);
    }
    30%{
        transform:rotate(15deg);
    }
    70%{
        transform:rotate(-15deg);
    }
    100%{
        transform:rotate(0);
    }

}
.header {
    display: flex;
    width: 100%;
    height: 100vh;
    padding-left: 90px;
}
.header-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;

}
.header-square {
    width: 50%;
    height: 50%;
}
.square-darkblue {
    background-color: #23536d;
}
.square-red {
    background-color: #fe6969;
}
.square-yellow {
    background-color: #fee39c;
}
.square-lighblue {
    background-color: #67c4e1;
    border-bottom-right-radius: 50%;
}
.header-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header-title {
    font-size: 250px;
    text-align: right;

}
.normal-text {
    font-weight: 300;
}
.header-right-content {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.header-right-item {
    background-color: #efefef;
    padding: 10px;
    border-radius: 15px;
    font-weight: 700;
    text-align: center;
    margin: 10px;
    width: 40%;
    flex-grow: 1;
}
.about {
    width: 100%;
    height: 100vh;
    position: relative;
}
.about-content {
    width: 100%;
    height: 100%;
    padding-left: 90px;
    display: flex;
}
.about-left {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about-title {
    font-size: 50px;
    color: white;
}
.about-text {
    font-size: 30px;
    color: white;

}
.about-right {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}
.about-rect {
    box-shadow: 8px 8px 0 #1d1d1d;
    border-radius: 0 20px ;
}
.rect1 {
    background-color: #547bc6;
    width: 300px;
    height: 300px;
    justify-content: space-between;
    align-self: flex-end;

}
.rect2 {
    background-color: #3992b9;
    width: 200px;
    height: 200px;
}
.rect3 {
    background-color: #e26fc2;
    height: 200px;
    width: 350px;
    align-self: flex-start;
}
.about-bg {
    width: 100%;
    height: 100%;
    background-color: #fe6969;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.bg-text {
    font-size: 150px;
    font-weight: 700;
    opacity: 0.2;
    padding-left: 90px;
}
.feature{
    width: 100%;
    height: 100vh;
    position: relative;
}
.feature-content {
    padding-left: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
    height: 100%;
}
.feature-title {
    font-size: 50px;
    width: 40%;
}
.feature-text {
    font-size: 50px;
    width: 40%;
}
.feature-img {
    flex-grow: 1;
    width: 100%;
}
.feature-bg {
    width: 100%;
    height: 100%;
    background-color: #fee39c;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.photograph {
    width: 100%;
    height: 100vh;
    display: flex;
}
.photograph-left {
    background: url("img/pictures/4th-section-img.png") center/cover no-repeat;
    height: 100%;
    flex-grow: 1;
    flex-basis: 500px;
}
.photograph-right {
    position: relative;
    overflow: hidden;
    flex-grow: 2;
    flex-basis: 500px;
}
.photograph-content {
    text-align: right;
    color: white;
}
.photograph-title {
    font-size: 50px;
}
.photograph-text {
    font-size: 30px;
}
.photograph-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #23536d;
}
.bg-img {
    width: 100%;
    height: 30%;
    background: url("img/pictures/4th-section-bg.svg") center/cover no-repeat;
}
.portfolio {

}
.portfolio-title {
    font-size: 50px;
    color: white;
    background-color: #fe6969;
    text-align: right;
    padding: 100px 0;
}
.portfolio-content {
    width: 100%;
    padding-left: 90px;
    display: flex;
    flex-wrap: wrap;
}
.portfolio-item {
    width: 50%;
    flex-grow: 1;
    opacity: 0.7;
    transition: 1s;
    flex-basis: 300px;
}
.portfolio-item:hover{
    opacity: 1; 
}
.port1 {
    order: 7;
}
.port2 {
    order: 5;
}
.port3 {
    order: 2;
}
.port4 {
    order: 3;
}
.port5 {
    order: 1;
}
.port6 {
    order: -1;
}
.port7 {
}
.contacts {
    width: 100%;
    height: 100vh;
    display: flex;
    
}
.contacts-left {
    background: url("img/pictures/form-left.png") center/cover no-repeat;
    height: 100%;
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 5;
}
.contacts-middle {
    background-color: #23536d;
    color: white;
    flex: 3 1 auto;
}
.contacts-title {
    font-size: 50px;
    padding: 30px 0;
    text-align: right;
}
.contacts-form {
    padding: 15px;
}
.contacts-label {
    font-size: 30px;
    margin: 30px 0 10px 0;
    display: block;
}
.contacts-input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
}
.contacts-input[type="checkbox"]{
    height: 36px;
    width: 36px;
}
.contacts-submit {
    display: block;
    background: #000;
    color: white;
    width: 300px;
    padding: 15px;
    border-radius: 0 10px 0 10px;
    border: none;
    outline: none;
    margin: 30px auto;
    font-weight: bold   ;
}
.contacts-right {
    background: url("img/pictures/form-right.png") center/cover no-repeat;
    height: 100%;
/* flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 5; */
    flex: 1 5 300px;
}

@media(max-width: 1024px){
    .header-title{
        font-size: 120px;

    }
    .bg-text{
        font-size: 80px;
    }
    .future-img{

    }
    .photograph{
        flex-direction: column;
    }
    .nav-menu{
        width: 100%;
        height: fit-content;
        flex-direction: row;
    }
    .header{
        padding-left: 0;
        padding-top: 90px;
        flex-direction: column;
    }
    .header-left{
        width: 100%;
        height: 50%;
    }
    .header-right{
        width: 100%;
        height: 50%;
    }
    .about-content{
        padding-left: 0;
        flex-direction: column;
        padding-top: 90px;
    }
    .about-left{
        height: auto;
        width: 100%;
        flex-grow: 1;
    }
    .about-right{
        width: 100%;
        height: auto;
        flex-direction: row;
    }
    .feature-content{
        flex-direction: column;
        padding-left: 0;
    }
    .feature-text, .feature-title{
        width: 100%;
    }
    .feature-img{
        flex-grow: 0;
    }
    .portfolio-content{
        padding-left: 0;
    }
}
